<div>
  <mat-toolbar style="margin-top: 6%; text-align:center" color="primary">
    <mat-toolbar-row>
      <table class="tabel">
        <tr>
          <th>Contact</th>
          <th></th>
          <th>Companie</th>
          <th></th>
          <th>Informații Legale</th>
        </tr>
      </table>
    </mat-toolbar-row>

    <mat-toolbar-row>
      <table class="tabel">
        <tr>
          <th>
            <button  mat-button style="font-size:80%">Luni-Vineri, Ora 10:00-18:00</button>
          </th>
          <th></th>
          <th>
            <button (click)="butonpaginainfo()"  mat-button style="font-size:80%">Despre noi</button>
          </th>
          <th></th>
          <th>
            <button (click)="butontermeni()" mat-button style="font-size:80%">Termeni și condiții</button>
          </th>
      </table>
    </mat-toolbar-row>

    <mat-toolbar-row>
      <table class="tabel">
        <tr>
          <th>
            <button mat-button style="font-size:80%">email: radu.cruceat@ulbsibiu.ro</button>
          </th>
          <th></th>
          <th>
            <button (click)="butonlivrare()" mat-button style="font-size:80%">Livrare și returnare</button>
          </th>
          <th></th>
          <th>
            <button (click)="butonanpc()" mat-button style="font-size:80%">Protecţia consumatorilor</button>
          </th>
        </tr>
      </table>
    </mat-toolbar-row>

    <mat-toolbar-row>
      <table style="table-layout: fixed; width: 1600px; margin-left:6%;margin-right:10%;margin-top:2%">
        <tr>
          <th>
            <button mat-button style="font-size:80%">+40735932902</button>
          </th>
          <th></th>
          <th></th>
          <th></th>
          <th></th>
        </tr>
      </table>
    </mat-toolbar-row>
  </mat-toolbar>
</div>
