<app-bara>

</app-bara>

<app-baraproduse>

</app-baraproduse>
<div class="text">

  <p class="titlu">DESPRE NOI</p>
  <br />
  <p>
    In fiecare zi vedem nenumarate chipuri cum se lumineaza de fericire.
    E unul dintre cele mai frumoase lucruri din lume, iar jucariile LEGO fac acest lucru posibil.
    De aceea ne-am ambitionat sa aducem cea mai mare selectie de seturi LEGO si accesorii cat mai aproape de voi.
  </p>

  <p>
    Joaca noastra a inceput în 2023, cu primul Magazin Certificat LEGO făcut de cel mai iscusit omuleț, Radu Cruceat.
  </p>

  <p>
    De-a lungul calatoriei noastre incercam mereu sa ne imbunatatim si va asteptam cu interes sugestiile  si ideile pentru imbunatatire!
  </p>

  <p>
    Spor la construit!
  </p>
  <br />
  <div class="butoncosgol"><button (click)="butonhome()" mat-raised-button color="primary">Înapoi la pagina principală</button></div>
</div>
