<div>
  <div class="imagineprodus">
    <img src="../../assets/{{Produse[0].numeimagine}}" />
    <p class="textprodus">{{Produse[0].numeprodus}}</p>
    <button (click)="adaugaincos(0)" mat-raised-button color="primary">Adauga in cos</button>
    <p class="textprodus">Pret: {{Produse[0].pret}}Lei</p>
  </div>

  <div class="imagineprodus">
    <img src="../../assets/{{Produse[1].numeimagine}}" />
    <p class="textprodus">{{Produse[1].numeprodus}}</p>
    <button (click)="adaugaincos(1)" mat-raised-button color="primary">Adauga in cos</button>
    <p class="textprodus">Pret: {{Produse[1].pret}}Lei</p>
  </div>

  <div class="imagineprodus">
    <img src="../../assets/{{Produse[2].numeimagine}}" />
    <p class="textprodus">{{Produse[2].numeprodus}}</p>
    <button (click)="adaugaincos(2)" mat-raised-button color="primary">Adauga in cos</button>
    <p class="textprodus">Pret: {{Produse[2].pret}}Lei</p>
  </div>

  <div class="imagineprodus">
    <img src="../../assets/{{Produse[3].numeimagine}}" />
    <p class="textprodus">{{Produse[3].numeprodus}}</p>
    <button (click)="adaugaincos(3)" mat-raised-button color="primary">Adauga in cos</button>
    <p class="textprodus">Pret: {{Produse[3].pret}}Lei</p>
  </div>
</div>
<app-bara-informatii>

</app-bara-informatii>


