<app-bara>

</app-bara>

<app-baraproduse>

</app-baraproduse>
<div class="text">

  <p class="titlu">LIVRARE SI RETURNARE</p>
  <br />
  <p class="titlu">1. Modalitati de livrare</p>
  <br />
  <p>Livrăm oriunde în România prin intermediul curieratului şi oferim posibilitatea de ridicare GRATUITĂ a comenzilor din magazinele noastre.</p>
  <p>Taxa de livrare este de 25.00 lei (pentru comenzile in valoare de pana la 300 lei) iar pentru comenzile în valoare de peste 300 de lei livrarea este gratuită.</p>
  <p>Depunem toate eforturile pentru a expedia (a preda firmei de curierat) în aceeaşi zi comenzile înregistrate înainte de ora 14.00 în zilele lucrătoare. Comenzile înregistrate în zilele lucrătoare, care nu sunt expediate (predate firmei de curierat) în aceeaşi zi, precum şi cele înregistrate în zilele nelucrătoare, se expediază (se predau firmei de curierat) în următoare zi lucrătoare.</p>
  <p>Pregătirea comenzilor care conțin piese LEGO la bucată durează 1 - 3 zile lucrătoare.</p>
  <p>Livrarea prin curier durează, de obicei, 1-2 zile lucrătoare însă pot apărea întârzieri în perioadele aglomerate (de Crăciun, de Moş Nicolae, de Paşti, de 1 iunie, etc.) sau în condiţii meteorologice nefavorabile. </p>
  <br />
  <p class="titlu">2. Modalitati de plata</p>
  <br />
  <p>Plata online, cu cardul (prin intermediul platformei securizate MobilPay)</p>
  <p>Transfer Bancar sau Ordin de Plata (OP). Comenzile la care se optează pentru plata prin transfer bancar se expediază (se predau firmei de curierat) numai după ce plata este vizibilă în contul nostru.</p>
  <br />
  <p class="titlu">3. Returnarea produselor</p>
  <br />
  <p>Potrivit articolului 9 alin. 1 din O.U.G. nr. 34/2014, consumatorul beneficiază de o perioadă de 14 zile pentru a se retrage dintr-un contract la distanţă sau dintr-un contract în afara spaţiilor comerciale, fără a fi nevoit să justifice decizia de retragere. Noi, am decis să prelungim acest termen până la 30 de zile.  Aşadar, aveţi dreptul de vă retrage din prezentul contract, fără a preciza motivele, în termen de 30 zile.</p>
  <p>Perioada de retragere expiră după 30 zile începând de la ziua „la care dumneavoastră sau o parte terţă, alta decât transportatorul, indicată de dumneavoastră, intraţi în posesia fizică a produselor”. Pentru a vă exercita dreptul de retragere trebuie să ne informaţi cu privire la decizia dumneavoastră de a va retrage din prezentul contract, utilizând o declaraţie neechivocă, de exemplu,un mesaj pe numarul +40735932902 sau pe e-mail.</p>
  <p>Ulterior noi vom trimite formularul de retragere.După completarea Formularului de retragere, îl puteţi transmite prin oricare dintre modalităţile sus arătate. Atunci când optaţi pentru transmiterea deciziei de retragere în format electronic, vă vom transmite, fără întârziere, pe un suport durabil, de exemplu prin e-mail, confirmarea de primire a cererii de retragere.”</p>
  <p>Dacă vă retrageţi, vom rambursa orice sumă pe care am primit-o de la Dvs., inclusiv costurile livrării, cu excepţia costurilor suplimentare determinate de faptul că aţi ales altă modalitate de livrare decât cel mai ieftin tip de livrare standard oferit de noi, fără întârzieri nejustificate şi, în orice caz, nu mai târziu de 14 zile de la data la care suntem informaţi cu privire la decizia Dvs. de a vă retrage din prezentul contract.</p>
  <p>Vom efectua această rambursare folosind aceeaşi modalitate de plată ca şi cea folosită pentru tranzacţia iniţială, cu excepţia cazului în care v-aţi exprimat acordul expres pentru o altă modalitate de rambursare. În nici un caz, nu vi se vor percepe comisioane ca urmare a unei astfel de rambursări.</p>
  <br />
  <p class="titlu">4. Garanţia produselor</p>
  <br />
  <p>Garanţia este certitudinea conformităţii unui produs şi se aplică oricărui produs cumpărat de pe site-ul nostru</p>
  <p>Pentru a beneficia de garanţie vă rugăm să păstraţi factura emisă către Dvs.</p>
  <p>În conformitate cu prevederile art. 2 pct. a din Legea nr. 449/2003 şi a art. 2 pct. 2 din Ordonanţa nr. 21/1992, garanţia se acordă numai consumatorilor persoane fizice sau grupurilor de persoane fizice, care achiziţionează/dobândesc şi/sau utilizează produse în afara activităţii lor profesionale sau comerciale.</p>
  <p>Toate produsele se folosesc potrivit destinaţiei lor. Jucăriile doar pentru construit, potrivit instrucţiunilor de utilizare, cutiile de depozitare doar pentru depozitarea jucăriilor, în limita de greutate şi volum permisă, cănile, cutiile de sandwich şi alte asemenea doar pentru servirea de băuturi, respectiv depozitarea mâncării etc. Produsele sunt destinate a fi folosite în interior, sub sancţiunea pierderii garanţiei. Uzura normală a produsului, ruperea sau zgârierea acestuia ca urmare a lovirii sale, decolorarea, incendierea sau deteriorarea ca urmare a expunerii la soare sau la o altă sursă puternică de căldură sau a contactului cu apa, vopsirea produsului de către client, defectele produse de condiţiile improprii de utilizare şi depozitare, curăţarea prin metode improprii sau cu substanţe neadecvate, spargere / ciobirea produselor din ceramică, nu sunt acoperite de garanţie. Produsele consumabile nu beneficiază de garanţie (creioane, radiere etc.).</p>

  <br />
  <div class="butoncosgol"><button (click)="butonhome()" mat-raised-button color="primary">Înapoi la pagina principală</button></div>
</div>
