<app-bara>

</app-bara>

<app-baraproduse>

</app-baraproduse>
<div class="text">
  <p class="titlu">CONDITII DE UTILIZARE</p>
  <br />
  <p>Utilizand acest website esti implicit de acord cu urmatoarele Conditii de Utilizare.In caz contrar ai dreptul de a renunta oricand la utilizarea acestui website.</p>
  <br />
  <p class="titlu">Drepturi de proprietate</p>
  <br />
  <p>
    Continutul acestui website (poze, elemente multimedia, texte) sunt proprietatea acestui site, refolosire a continutului fara acordul scris a proprietarului este strict interzis.
  </p>
  <br />
  <p class="titlu">Promotii</p>
  <br />
  <p>
    Promotiile prezente pe site-ul nostru difera de promotiile existente in Magazinele Certificate LEGO.Promotiile si/sau reducerile de pret nu se cumuleaza.
  </p>
  <br />
  <p class="titlu">Reclamații</p>
  <br />
  <p>Pentru orice reclamații, vă rugăm să ne contactați la telefon +40735932902 sau prin email la adresa radu.cruceat@ulbsibiu.ro și vă vom răspunde în termen de 2 zile lucrătoare.</p>
  <br />
  <p class="titlu">Modificari</p>
  <br />
  <p>Ne rezervam dreptul de a modifica oricand aceste Conditii de utilizare fara nici o notificare prealabila.</p>
  <br />
  <div class="butoncosgol"><button (click)="butonhome()" mat-raised-button color="primary">Înapoi la pagina principală</button></div>
</div>
