


.textprodus {
  font-size: 120%;
  display: inline-block;
  text-align: center;
  border-block-width: 10px;
}

.tabel {
  table-layout: fixed;
  width: 800px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1%;
  padding: 7px;
  text-align: left;
}
